.image {
  width: 200px;
  height: 200px;
  float:right;
  padding: 10px;
}

.job-list {
  text-decoration: underline;
  font-size: 20pt;
  font-style: italic;
  font-weight: bolder;
  font-family: monospace;
  color: black;
}

.main {
  text-align: center;
}

body {
  background-color: yellow;
}

.nav navbar-nav {
  align-content: stretch;
}

@media screen {
  
}
